.last-element {
  padding-bottom: 400px;
}
.dashboard {
  overflow-y: visible !important;
}

h1 {
  margin: auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list {
  position: relative;
}

.Collapsible {
  overflow: visible;
  margin-left: 100px;
  background-color: #ebe7e5;
  margin-top: 10px;
  font-size: 200%;
}

//The content within the collaspable area
.Collapsible__contentInner {
  padding: 10px 100px;
  border: 1px solid white;
  border-top: 0;

  p {
    margin-bottom: 10px;
    font-size: 80%;
    line-height: 120%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #005d32;
  color: white;

  &:after {
    font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
    color: orange;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
      color: red;
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}
