@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    overflow: hidden;
}

body {
    background-image: url("./img/background-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-top: 15%;
    margin-left: 12%;
    width: 600px;
    height: 800px;
}

h1 {
    text-transform: uppercase;
    color: #925338;
    font-size: 600%;
    font-family: "Nunito Sans", sans-serif;
    text-shadow: 4px 4px #997966;
    letter-spacing: 8px;
    text-align: left;
    line-height: 100px;
}


