body {
  background-image: url("./img/background-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.topnav {
  background-color: #925338;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #551515;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #925338;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:  #793d24;
  color: white;
}