@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&family=Roboto+Slab:wght@600;700&family=Rowdies:wght@300;400;700&display=swap");

/* .signup-text-input {
  background-color: #005d32;
  padding: 10px;
  border: 2px solid rgb(20, 73, 20);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 20%;
  height: 15%;
  font-family: inherit;
  font-size: inherit;
  color: rgb(255, 255, 255);
  float: left;
  text-indent: -60%;
}

.signup-text {
  background-color: #005d32;
  padding: 10px;
  border: 2px solid #eee;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 20%;
  height: 15%;
  font-family: inherit;
  font-size: inherit;
  color: rgb(255, 255, 255);
  float: left;
}

h1 {
  color: #925338;
  font-size: 700%;
  font-family: "Nunito Sans", sans-serif;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 8px;
  text-align: left;
  line-height: 60px;
  text-indent: 150px;
}

h2 {
  color: #925338;
  font-size: 100%;
  font-family: "Nunito Sans", sans-serif;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 10px;
  text-indent: -60%;
}

.wall {
  margin: 15px auto 50px auto;

  width: 600px;
  height: 2px;
  background-color: #925338;
}

.lefty {
  float: left;
  text-indent: 150px;
}
 */

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.container {
  margin-top: 15%;
  margin-left: 12%;
  width: 600px;
  height: 800px;
}

h1 {
  text-transform: uppercase;
  color: #925338;
  font-size: 500%;
  font-family: "Nunito Sans", sans-serif;
  text-shadow: 4px 4px #997966;
  letter-spacing: 8px;
  text-align: left;
  line-height: 100px;
}

.wall {
  margin: 15px auto 10px auto;
  width: 500px;
  height: 2px;
  margin-left: 0;
  background-color: #925338;
}

.form-login > input {
  /* color: #72402b;
  font-family: "Nunito Sans", sans-serif;
  font-size: 130%;
  text-align: left;
  line-height: 24px;
  margin-left: 10px; */

  background-color: #005d32;
  border: 2px solid #eee;
  border-radius: 20px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 80%;
  height: 50px;
  font-family: inherit;
  font-size: inherit;
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  float: left;
  margin: 0px auto 10px auto;
}

input[type="text"] {
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
}

input[type="password"] {
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
}

::placeholder {
  color: white;
  text-transform: uppercase;
}

input:focus::placeholder {
  color: transparent;
}

button {
  margin-top: 10px;
}

.btn-submit {
  margin-left: 10000px;
}
