.topnav {
  background-color: #925338;
  overflow: hidden;
  position: fixed;
  transition: top 0.3s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Style the links inside the navigation bar */
.topnav .active {
  float: left;
  color: #551515;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #925338;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #793d24;
  color: white;
}
.topnav .linkk {
  float: right;
  color: #551515;
  text-align: center;
  padding: 25px 40px;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

.dropdown {
  float: right;
  overflow: visible;
}

.dropdown .dropbtn {
  font-size: 21px;
  border: none;
  outline: none;
  color: white;
  padding: 25px 40px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content input {
  background-color: #f9f9f9;
  border: none;
  float: none;
  color: black;
  padding: 25px 40px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 142px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content input:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
