.queue {
  background-image: url("./img/background-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}

.queue .container {
  margin: 120px auto;
  width: 800px;
  height: 800px;
  /* background-color: white; */
}

.circle-container {
  margin: auto;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  border: 15px solid #185c37;
  position: relative;
}

.numberCircle {
  position: absolute;
  top: 3%;
  left: 3%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 8px;

  background: #185c37;
  color: white;
  text-align: center;

  font: 260px Arial, sans-serif;
}

.detail p {
  text-align: center;
  margin-top: 10px;
  font-size: 120%;
}
