body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.order {
  background-image: url("./pages/style/img/background-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: 0px;
  bottom: 0;
}

.form {
  background-image: url("./pages/style/img/background-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
}

.login {
  background-image: url("./pages/style/img/background-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
}

.home {
  background-image: url("./pages/style/img/background-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
}

.dashboard {
  background-image: url("./pages/style/img/background-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.queue {
  background-image: url("./pages/style/img/background-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
}
